@using FondoXYZ.Mdoels
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FondoXyz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FondoXyz.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <img src="~/Assets/nav-img.png" alt="">
            <div class="pages">
                <a asp-action="Index" asp-controller="Sedes">Sedes Recreativas y Apartamentos</a>
                <a asp-action="Fechas" asp-controller="Fechas"> Mis Reservas</a>
                <a asp-action="" asp-controller="">Actualizar Datos</a>
                <a asp-action="Logout" asp-controller="Account">Cerrar Sesión</a>
                <div class="user">
                    <p>@User.Identity.Name</p> <!--Por name le tenemos el correo-->
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@if(ViewData["HideFooter"] == null){
      <footer class="border-top footer text-muted">
        <p>FODUN - Fondo de Docentes Universidad Nacional - Derechos Reservedos © 2014 - Desarrollado por MarketingltSolutions S.A.S</p>
    </footer>
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
