@model FondoXYZ.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin.cshtml";
}
<div class="container">
    <div>
        <img src="~/Assets/Side-bar.png" class="img-sideBar">
    </div>
    <div class="form">
        <div class="bubble mt-2">
            <p>Ingreso Sistemas de Reservas</p>
        </div>
        <span>
            Digite su Clave a través del teclado dinamicó que <br>
            se encuentra en la pantalla.
        </span>
        <form asp-action="Login" method="post" class="formulario">
             <div class="form-group-Documento">
                <label asp-for="NumberDocument"></label>
                <input asp-for="NumberDocument" class="form-control"/>
                <span asp-validation-for="NumberDocument" class="text-danger"></span>
            </div>
                <div class="form-group-Password">
                    <label asp-for="Password">Clave:</label>
                    <input asp-for="Password" class="form-control" id="clave">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="links">
                    <button type="submit" id="aceptar" class="bton btn btn-danger">Aceptar</button>
                    <br>
                    <a asp-controller="" asp-action="" class="olvido">¿Olvido su clave?</a>
                </div>
                <div class="buttons mb-100">
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="8">8</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="0">0</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="7">7</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="2">2</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="4">4</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="3">3</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="5">5</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="9">9</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="1">1</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="6">6</button>
                        <div class="">
                            <button type="button" class="limpiar" id="limpiar">Limpiar</button>
                        </div>
                    </div>
                    <span class="span"><strong>Contraste</strong></span>
                    <div class="button-row">
                        <button type="button" class="btn btn-primary" data-value=""></button>
                        <button type="button" class="btn btn-primary" data-value=""></button>
                        <button type="button" class="btn btn-primary" data-value=""></button>
                    </div>
                </div>
        </form>
    </div>
</div>

<script src="~/js/ButtonsValue.js"></script>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
document.addEventListener("DOMContentLoaded", function() {
    const tecladobtn = document.querySelectorAll('.teclado-boton'); // capturamos el valor de los botones
    const clave = document.querySelector('input[name="Password"]'); // capturamos el valor clave

    // Funcion para validar los numero ingresados
    tecladobtn.forEach(button => {
        button.addEventListener('click', function () {
            const value = this.getAttribute('data-value');
            if (value) {
                // Limita la longitud de la clave a 4 dígitos
                if (clave.value.length < 4) {
                    clave.value += value;
                }
            }
        });
    });

    //  funcion para limpiar los datos
    document.getElementById('limpiar').addEventListener('click', function() {
        clave.value = '';
    });
});


</script>