@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div>
        <img src="~/Assets/Side-bar.png" class="img-sideBar">
    </div>
    <div class="form">
        <div class="bubble mt-2">
            <p>Ingreso Sistemas de Reservas</p>
        </div>
        <span>
            Digite su Clave a través del teclado dinamicó que <br>
            se encuentra en la pantalla.
        </span>
        <form method="post">
                <div class="form-group-Documento">
                    <label for="">Nro Documento:</label>
                    <input type="email" class="form-control" id="numeroDocumento" placeholder="Enter email">
                </div>
                <div class="form-group-Password">
                    <label for="InputPassword">Clave:</label>
                    <input type="password" class="form-control" id="clave" placeholder="Enter password">
                </div>
                <div class="links">
                    <button type="submit" id="aceptar" class="bton btn btn-danger">Aceptar</button>
                    <br>
                    <a asp-controller="" asp-action="" class="olvido">¿Olvido su clave?</a>
                </div>
                <div class="buttons mb-100">
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="8">8</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="0">0</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="7">7</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="2">2</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="4">4</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="3">3</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="5">5</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="9">9</button>
                        <button type="button" class="teclado-boton btn btn-primary" data-value="1">1</button>
                    </div>
                    <div class="button-row">
                        <button type="button" class="teclado-boton btn btn-primary" data-value="6">6</button>
                        <div class="">
                            <button type="button" class="limpiar" id="limpiar">Limpiar</button>
                        </div>
                    </div>
                    <span class="span"><strong>Contraste</strong></span>
                    <div class="button-row">
                        <button type="button" class="btn btn-primary" data-value=""></button>
                        <button type="button" class="btn btn-primary" data-value=""></button>
                        <button type="button" class="btn btn-primary" data-value=""></button>
                    </div>
                </div>
                @* <div class="info-img">
                    <img src="~/Assets/info-img.png" alt="">
                </div> *@
        </form>
    </div>
</div>

<script src="~/js/ButtonsValue.js"></script>

@*Prueba!!*@
<script>
    //capturamos los valores de los inputs:
document.addEventListener("DOMContentLoaded", function() {
    const Tecladobtn = document.querySelectorAll('.teclado-boton'); // valor de los botones
const Documento =document.querySelectorAll('.numeroDocumento');  //valor del documento
const clave = document.querySelectorAll('clave'); //valor clave // Recordar función o usar Notaciones de datos para el requerimiento de 4 digitos

//funcion para validar los digitos
Tecladobtn.forEach(button => {
    button.addEventListener('click', function () {
        const value = this.getAttribute('data-value'),
        if(value ){
            if(Documento.value === '')
            {
                Documento.value += value;
            } else {
                clave.value += value;
            }
        }
    });
});
//Limpiamos los datos 
document.getElementById('limpiar').addEventListener('click', fucntion (){
    Documento.value = '';
    clave.value = '';
});

 
}
</script>