@model List<FondosXYZ.Models.Sede>
@{
    ViewData["HideFooter"] = true;
}
<h2 class="mt-9">Sedes Recreativas y Apartamentos</h2>
    <div class="nav">
        <a asp-controller="Sedes" asp-action="Index" class="btn btn-danger">Sedes Recreativas y Apartamentos</a>
        <a asp-controller="Fechas" asp-action="Fechas" class="btn btn-danger">Seleccione sus Fechas</a>
    </div>
<div class="table-content d-flex justify-content-center">
    <table class="table table-hover">
        <th></th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Ubicación</th>
        <th>Seleccionar</th>
        <tbody>
           @foreach (var sede in Model)
           {
            <tr>
                <td><img src="~/Assets/Sedes/images.jpg" alt="" class="w-90 h-200"></td>
                <td>@sede.Name</td>
                <td>@sede.Description</td>
                <td>@sede.Type</td>
                <td>@sede.Ubication</td>
                <td>
                    <a asp-action="Fechas" asp-controller="Fechas" class="btn btn-danger">Seleccionar</a>
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>
<footer class="border-top footer text-muted">
    <p>FODUN - Fondo de Docentes Universidad Nacional - Derechos Reservedos © 2014 - Desarrollado por MarketingltSolutions S.A.S</p>
</footer>