@{
    ViewData["Title"] = "Sedes";
    Layout = "./_LayoutLogin.cshtml";
}
<h2 class="mt-9">Sedes Recreativas y Apartamentos</h2>
    <div class="nav">
        <a asp-controller="Sedes" asp-action="Index" class="btn btn-danger">Sedes Recreativas y Apartamentos</a>
        <a asp-controller="Fechas" asp-action="Fechas" class="btn btn-danger">Seleccione sus Fechas</a>
    </div>
<div class="table-content d-flex justify-content-center">
    <table class="table table-hover">
        <th></th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Ubicación</th>
        <th>Seleccionar</th>
        <tbody>
            <tr>
                <td><img src="~/Assets/Sedes/images.jpg" alt="" class="w-90 h-100"></td>
                <td>Sede Recreativa Villeta</td>
                <td>Esta sede reacreativa se encuentra ubicada en el barrio San jorge, a poca distancia de la plaza central de villeta en la providencia del Gualiva, cundinamarca</td>
                <td>Sede Recreativa</td>
                <td>Villeta</td>
                <td>
                    <a asp-controller="Fechas" asp-action="Fechas" class="btn btn-danger">Seleccionar</a>
                </td>
            </tr>
            <tr>
                <td><img src="~/Assets/Sedes/images.jpg" alt="" class="w-90 h-100"></td>
                <td>Sede Recreativa Villeta</td>
                <td>Esta sede reacreativa se encuentra ubicada en el barrio San jorge, a poca distancia de la plaza central de villeta en la providencia del Gualiva, cundinamarca</td>
                <td>Sede Recreativa</td>
                <td>Villeta</td>
                <td>
                    <a asp-action="Fechas" asp-controller="Fechas" class="btn btn-danger">Seleccionar</a>
                </td>
            </tr>
               <tr>
                <td><img src="~/Assets/Sedes/images.jpg" alt="" class="w-90 h-100"></td>
                <td>Sede Recreativa Villeta</td>
                <td>Esta sede reacreativa se encuentra ubicada en el barrio San jorge, a poca distancia de la plaza central de villeta en la providencia del Gualiva, cundinamarca</td>
                <td>Sede Recreativa</td>
                <td>Villeta</td>
                <td>
                    <a asp-action="" asp-controller="" class="btn btn-danger">Seleccionar</a>
                </td>
            </tr>
               <tr>
                <td><img src="~/Assets/Sedes/images.jpg" alt="" class="w-90 h-100"></td>
                <td>Sede Recreativa Villeta</td>
                <td>Esta sede reacreativa se encuentra ubicada en el barrio San jorge, a poca distancia de la plaza central de villeta en la providencia del Gualiva, cundinamarca</td>
                <td>Sede Recreativa</td>
                <td>Villeta</td>
                <td>
                    <a asp-action="" asp-controller="" class="btn btn-danger">Seleccionar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@* <footer class="border-top footer text-muted">
    <p>FODUN - Fondo de Docentes Universidad Nacional - Derechos Reservedos © 2014 - Desarrollado por MarketingltSolutions S.A.S</p>
</footer> *@
