*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  flex: 1- 0 auto;
}
main{
  flex: 1;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 28, 28);
  height: 70px;
  margin-top: auto;  
  p{
    color: white;
    margin-top: 15px !important;
  }
}
.container{
  display: flex;
  gap:50px;
}
.form{
  width: 600px;
  height: 300px;
}

.bubble{
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
  height: 25px;
  margin-bottom: 25px;
  p{
    margin: 10px;
  }
}
.form-group-Documento{
  display: flex;
  margin-bottom: 12px;
  gap: 10px;
  width: 250px;
}
.form-group-Password{
  display: flex;
  margin-left:35px;
  gap: 10px;
  width: 215px;
}

.bton{
  display: flex;
  border-radius: 15px;
  margin-top: 12px;     /*Boton login (Aceptar)*/
  width: 100px;
  height: 25px;
  align-items: center;
}
/*Inicio de teclado dinamico*/
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -170px;
  cursor: pointer;

  .button-row {
    display: flex;
    justify-content: center;
    margin-left: 170px;
  
}
.btn {
  margin: 5px;
  width: 45px;
  height: 30px;
  font-size: 20px;
}
.btn:hover{
  background-color: rgb(228,28,28);
  color: rgb(228, 28, 28);
}

.limpiar{
  width: 110px;
  height: 35px;
  border-radius: 25px;
  background-color: rgb(228, 28, 28);
  border: none;
  color: white;
}
}
.btn-primary {
  background-color: rgb(228, 28, 28);
  border-radius: 25px;
  border: none;
  color: white; 
}

/*Fin de teclado dinámico*/

/*Acecptar / olvido su clave*/
.links{
  margin-left: 90px;
  margin-top: 0;   
}
label{
  font-size: 12px;
  color: red;
}
span{
  display: flex;
  margin-bottom: 12px;
  margin: 7px;
}
img{
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 100%;
}
.img-sideBar{
  width: 550px;
  height: 100%;
}
.olvido{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
.span{
  display: flex;
  margin-left: 180px;
}
.info-img{
  width: 400px;
  height: 200px;
  position: relative;
  top: -100px;
}
form{
  height: 300px;
}
h2{
  color:rgb(228, 28, 28);
}
.table{
  text-align: center;
}

td{
  border: 1px solid rgb(177, 176, 176);
  padding: 10px;
  margin-top:150px;
  text-align: center;
}
th{
  padding: 10px;
  text-align: center;
}
nav{
  background-color: rgb(145, 144, 144);
  display: flex;
  flex-direction: column;
}
.pages{
  background-color: rgb(145, 144, 144);
  display: flex;
  gap: 20px;
  align-items: center;
  a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
  }
}
.user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  text-align: center; 
  margin-top: 7px;
}
.cardd{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 12px;
}
.line-reserva{
  color: rgb(228, 28, 28);
  margin-top: -1px; 
  border: 2px solid rgb(228, 28, 28);
}
.label{
  color: black;
}
.group{
  display: flex;
  gap: 4px;
}
.reservar{
  margin-left: 36px;
  color: rgb(228, 28, 28);
  font-size: 22px;
}
.sub{
  color: rgb(228, 28, 28);
  font-size: 22px;
  margin-left: 24px;
}
.inputNum{
  width: 40px;
  color: white;
  text-align: center;
  margin: 2px;
}
.inputText{
  width: 150px;
  color: white;
  margin: 2px;
}
.group-num{
  margin-left: 40px;
}
.group-lavanderia{
  margin-left: 29px;
}
.group-habitaciones{
  margin-left: 12px;
}
.group-check{
  margin-left: 36px;
}
.form-group{
  margin-left: 36px;
}
aside{
  margin-top: -12px;
}
.reserva-content{
  background-color: rgb(188, 188, 188); 
}
.img-info{
  width: 400px;
  height: 300px;
}
.sedeInfo{
  flex-direction: row;
  position: relative;
  margin-left: 400px;
  margin-top: -630px;
  gap: 24px;
}
.form-group{
  background-color: rgb(188, 188, 188);
}

